*{
	margin:0px; /* margem externa*/
	padding:0px; /*margem interna*/
}

header{
	padding:5% 0px;
	background-image:url("https://image.freepik.com/fotos-gratis/natureza-flores-jardim-de-flores-da-primavera-flor-de-pessego_121-90852.jpg");
	background-size:100%;
	background-position:0px -450px;
}